/* Stornur: The primary style for wally3k.github.io, by WaLLy3K */
/* Tested on: Chrome v57 Win & macOS, Firefox v52 Win, IE11 Win, Safari 10 macOS, Safari iOS 10.3 */

/* http://necolas.github.io/normalize.css */
html { font-family: sans-serif; line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
article, aside, footer, header, nav, section { display: block; }
h1 { font-size: 2em; margin: 0.67em 0; }
figcaption, figure, main { display: block; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; overflow: visible; }
pre { font-family: monospace, monospace; font-size: 1em; }
a { background-color: transparent; -webkit-text-decoration-skip: objects; }
a:active, a:hover { outline-width: 0; }
abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
dfn { font-style: italic; }
mark { background-color: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
audio, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0; }
button, input { overflow: visible; }
button, select { text-transform: none; }
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }
progress { display: inline-block; vertical-align: baseline; }
textarea { overflow: auto; }
[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
details, menu { display: block; }
summary { display: list-item; }
canvas { display: inline-block; }
template { display: none; }
[hidden] { display: none; }

html { font-size: 62.5%; }
a { color: rgba(45,90,140,0.95); text-decoration: none; }
a:hover { color: rgba(255,128,0,0.95); transition-duration: .2s; }
b { font-weight: bold; }
i { font-style: italic; }
:-ms-input-placeholder { color: rgba(68,68,68,0.43) !important; }

code {
  font: 1.2rem Consolas, monospace;
  padding: 0 2px;
  white-space: nowrap;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 2px;
}

body {
  -webkit-text-size-adjust: 100%;
  background: rgb(230,230,230) repeat fixed;
  background-image: url("bg.svg"), linear-gradient(to top, transparent, rgba(0,0,0,0.05));
  font: 1.4rem 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.8rem;
  color: rgb(68,68,68);
}

header, main, label, .buttons * {
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.04);
}

h2 {
  background: rgba(0,0,0,0.2);
  background: linear-gradient(to right, rgba(0,0,0,0.2), transparent 80%) no-repeat;
}

header {
  display: table;
  width: 100%;
  border-width: 1px 0;
  border-top-color: rgba(255,255,255,0.8);
  background: rgb(240,240,240);
  background-image: linear-gradient(to top, rgba(0,0,0,0.05), transparent);
  font: bold 1rem 'Trebuchet MS', sans-serif;
  text-shadow: 0 1px rgba(255,255,255,0.8);
}

header h1, header div {
  display: table-cell;
  width: 100%;
}

header h1 {
  background: url("fire.svg") 2px no-repeat;
  padding: 8px 4px;
  font-size: 2.2rem;
  text-indent: 32px;
}

header h1 a, h1 a:hover { color: inherit; }

header div {
  box-sizing: border-box;
  min-width: 150px;
  vertical-align: middle;
  padding-right: 4px;
  font-size: 1.1rem;
  text-align: right;
}

main {
  box-sizing: border-box;
  width: 80%;
  min-width: 600px;
  margin: 4px auto;
  padding: 4px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 8px; 
  overflow: hidden;
}

footer {
  width: 86%;
  margin: 4px auto;
  font: 1.1rem Consolas, monospace;
  text-align: center;
}

main *:first-child { margin-top: 0; }
main *:last-child { margin-bottom: 0; }

h2 {
  margin: 12px 0 4px 0;
  padding-bottom: 3px;
  font-size: 1.8rem;
  font-weight: normal;
  background-size: 100% 1px;
  background-position: 0 100%;
}

main p, main div { margin: 4px 8px 12px 4px; }

main > div > p,
main > div > ul,
main > h2 + ul {
  margin-left: 4px;
}

ul { margin: 4px 0 8px 0; padding-left: 12px; }
li { list-style-type: none; }
li:before { content: "\0203A"; position: absolute; background-color: rgba(255,255,255,0.9); margin-left: -12px; opacity: 0.7; font-size: 1.5rem; font-weight: bold; }

.buttons {
  display: table;
  width: 100%;
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  border-spacing: 4px 0;
}

.buttons *:not([type=password]) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label, .buttons * {
  display: table-cell;
  padding: 3px 8px;
  color: inherit;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px rgba(255,255,255,0.22);
  background: #F8F8F8;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.05));
  border-radius: 4px;
  margin-right: 4px;
}

/* Blacklist Domains */
.tick:before { content: "\2713"; margin-top: 1px; }
.cross:before { content: "\2717"; }
.tick:before, .cross:before {
  font-size: 1rem;
  margin-left: -14px;
  opacity: 1;
}

/* BD: Checkbox Toggle */
#bdTog { display: none; }
.url-list li > a:first-child { display: none; }
#bdTog:checked ~ .url-list li > a:first-child { display: initial; }
.bdToggle label { background-color: rgba(60,140,220,0.4); }

.bdWhitelist a:after { content: ":"; color: rgb(68,68,68); }
.bdWhitelist a:hover:after { color: rgb(68,68,68); }

.url-list { -webkit-overflow-scrolling: touch; }

/* BD: Style HTTP/S links */
.url-list a[href^="http:"]:not(:first-child) { color: inherit; }
.url-list a[href^="https:"]:not(:first-child), #tls { color: rgb(20,120,60); }

.url-list a[href^="https:"]:not(:first-child):before, #tls:before {
  content: ""; 
  display: inline-block;
  width: 9px;
  height: 12px;
  margin-right: 2px;
  margin-bottom: -1px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc5JyBoZWlnaHQ9JzEyJz48ZGVmcz48c3R5bGU+cGF0aCxyZWN0e2ZpbGw6IzUwYTAyODt9PC9zdHlsZT48L2RlZnM+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNOCwzLjVhMy41LDMuNSwwLDAsMC03LDBWNUg4VjMuNVptLTIsMGExLjUsMS41LDAsMCwwLTMsMFY1SDZWMy41WicvPjxyZWN0IHk9JzUnIHdpZHRoPSc5JyBoZWlnaHQ9JzcnIHJ4PScxJyByeT0nMScvPjwvc3ZnPg==");
}

/* Small Screen Wrapping */
@media only screen and (max-width: 1024px) {
  main { width: 95%; }
  .url-list { white-space: nowrap; overflow: auto; }
}

/* iPhone: Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  main { width: 100%; min-width: initial; border-radius: 0; margin: 0 0 4px 0; border-width: 0 0 1px 0; }
}
